<% score = experiment.calculate_score %>
<div class="table-responsive">
<table class="table table-striped">
  <caption>
    <%= experiment.conclusion(score).join(" ") %>
    <% if experiment.active? && !experiment.enabled? %>
      <div class='disabled_info'><%=I18n.t('vanity.experiment_has_been_disabled', name: experiment.default.name)%></div>
    <% end %>
  </caption>

  <tr class="header">
    <th>Alternative</th>
    <th>Participants</th>
    <th>Conversions</th>
    <th>Rate</th>
  </tr>

  <% score.alts.each do |alt| %>
    <tr class="<%= "choice" if score.choice == alt %>">
      <td class="alternative">
        <% if alt.default? %>
          <span class="glyphicon glyphicon-star" title="<%=I18n.t('vanity.default')%>"></span>
        <% end %>
        <% if experiment.showing?(alt) %>
          <span class="glyphicon glyphicon-eye-open" title="<%=I18n.t('vanity.currently_shown')%>"></span>
        <% end %>

        <code><%= vanity_h alt.value.to_s %></code>
        <% if @to_confirm == alt.id %>
          <div class="alert alert-danger alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <%=I18n.t('vanity.complete_and_confirm_experiment_label', :name=>alt.name)%>
            <a class="btn btn-danger btn-med button chooses" href="#" data-id="<%=experiment.id%>" data-url="<%=url_for(:action=>:complete, :e=>experiment.id, :a=>alt.id, :confirmed=>alt.id)%>" title="<%=I18n.t('vanity.complete_and_confirm_experiment', name: alt.name)%>"><%=I18n.t('vanity.confirm')%></a>
          </div>
        <% end %>
        <ul class="actions nav nav-pills">
          <% if experiment.enabled? && experiment.active? && respond_to?(:url_for) %>
            <% if !experiment.showing?(alt) %>
              <li><a class="button chooses" title="<%=I18n.t('vanity.choose_experiment')%> href="#" data-id="<%=experiment.id%> data-url="<%=url_for(:action=>:chooses, :e=>experiment.id, :a=>alt.id)%>"><%=I18n.t('vanity.show_me')%></a></li>
            <% end %>
            <li>
              <a class="button chooses" title="<%=I18n.t('vanity.complete_experiment', :name=>alt.name)%>" href="#" data-id="<%=experiment.id%>" data-url="<%=url_for(:action=>:complete, :e=>experiment.id, :a=>alt.id)%>"><%=I18n.t('vanity.make_permanent')%></a>
            </li>
          <% end %>
        </ul>
            
      </td>
      <td class="value participants"><%=alt.participants%></td>
      <td class="value converted"><%=alt.converted%></td>
      <td class="value rate">
        <span class="conversion-rate"><%= "%.1f%%" % [alt.conversion_rate * 100] %></span>
        <br/>
        <span class="explanation">
          <%= I18n.t('vanity.best_alternative', :probabilty=>alt.probability.to_i) if score.method == :bayes_score %>
          <%= I18n.t('vanity.better_alternative_than', :probability=>alt.difference.to_i, :alternative=>score.least.name) if alt.difference && alt.difference >= 1 %>
        </span>
      </td>
    </tr>
  <% end %>
</table>
</div>
