<div class="row-fluid metrics">
  <% metrics.sort_by { |id, metric| metric.name }.each do |id, metric| %>
    <% unless metric.exclude %>
      <div class="col-xs-12 metric panel panel-default" id="metric_<%= id %>">
        <%= render :file=>Vanity.template("_metric"), :locals=>{:id=>id, :metric=>metric} %>
      </div>
    <% end %>
  <% end %>
</div>
<form id="milestones">
  <% experiments.each do |id, experiment| %>
    <div class="form-group">
      <label >
        <input type="checkbox" name="milestone" data-start="<%= experiment.created_at.httpdate %>" data-end="<%= (experiment.completed_at || Time.now).httpdate %>"> <%=vanity_h experiment.name %></label>
    </div>
  <% end %>
</form>
