<!DOCTYPE html>
<html>
  <head>
    <meta name="charset" content="utf-8">
    <meta name="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= I18n.t('vanity.report', :timestamp=>I18n.l(Time.now, :format=>'%b %d %Y, %I:%M:%P')) %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" />
    <style>
      <%= vanity_html_safe(File.read(Vanity.template("vanity.css"))) %>
    </style>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript"><%= vanity_html_safe(File.read(Vanity.template("flot.min.js"))) %></script>
    <script type="text/javascript"><%= vanity_html_safe(File.read(Vanity.template("flot.time.min.js"))) %></script>
    <script type="text/javascript"><%= vanity_html_safe(File.read(Vanity.template("vanity.js"))) %></script>
    <% if respond_to?(:form_authenticity_token) %><script type="text/javascript">document.auth_token = "<%= form_authenticity_token %>"</script><% end %>
  </head>
  <body>
    <div class="vanity container-fluid">
      <% unless Vanity.playground.collecting? %>
        <div class="row">
          <div class="alert-danger alert collecting">
            <%= I18n.t('vanity.not_collecting_data', :setting=>"<span style='font-family: courier'>Vanity.playground.collecting = true;</span>", :file=>"<span style='font-family: courier'>config/environments/#{Rails.env}.rb</span>").html_safe %>
          </div>
        </div>
      <% end %>

      <% if experiments_persisted %>
        <% if experiments.present? %>
          <h1><%= I18n.t 'vanity.experiments' %></h1>
          <%= render :file=>Vanity.template("_experiments"), :locals=>{:experiments=>experiments} %>
        <% end %>

        <% unless metrics.empty? %>
          <h1><%= I18n.t 'vanity.metrics' %></h1>
          <%= render :file=>Vanity.template("_metrics"), :locals=>{:metrics=>metrics, :experiments=>experiments} %>
        <% end %>
      <% else %>
        <div class="alert-danger alert persistance">
          <%= I18n.t 'vanity.experiments_out_of_sync' %>
        </div>
      <% end %>

      <p class="footer"><%= I18n.t('vanity.generated_by', :link=>'<a href="http://vanity.labnotes.org">Vanity</a>').html_safe %></p>
    </div>
  </body>
</html>
